.banner {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    max-width: 900px;
    gap: 50px;
    padding: 2rem;
    margin-inline: auto;
    background-color: #90E0EF;
    border-radius: 50px;
}

.access {
    text-align: center;
}

.banner__access {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

img {
    max-width: 100%;
    margin-inline: auto;
    margin-block-end: 1rem;
    border-radius: 50%;
}

@media (max-width: 700px) { 
    .banner {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem; 
    }
}
  
  